/*Variable colors for the todo project*/
:root {
	--primary:linear-gradient(to right, #5c258d, #4389a2); 
	--work: #83C9F4;
	--personal:#E5A4CB;
	--grey:#696969;  
	--dark: #1A1B41;
	--danger: #ff5b57;
    --boxes:  #f5f5f5;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--work-glow: 0px 0px 4px rgba(31, 201, 244, 0.75);
	--personal-glow: 0px 0px 4px rgba(229, 164, 203, 0.75);
}



.intro-pic{
	float: inline-end;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 100px;


}

.intro.title{
	text-align: center;
}
/*Default styling for layout*/
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: #f5f5f5;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}



body {
    
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background: url(./Images/space.jfif);
	

}

#new-task {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
	
}

.fa-plus {
    background-color:blueviolet;
    padding: 3px;
    border-radius: 3px;
}



.app {
	border-radius: 8px;
	border: 5px solid var(--dark);
	padding: 15px;
	width: 300px;
	
}
section {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}



.intro.title{
    display: flex;
	margin-bottom: 1rem;

}

.intro.title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
	margin-bottom: 1.5rem;
}

.intro.title, 
.intro.title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}






/*The radio button in the categories
styling each in their colum and respective colors*/

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

/*Animation for when the radio button has been chosen*/
.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--work);
	box-shadow: var(--work-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--work);
	box-shadow: var(--work-glow);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}
/*Add task button color and animation*/
.create input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    color: var(--boxes);
    font-weight: 700;
    text-transform: uppercase;
    background-color:	#ad98c0;
    box-shadow:var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-out;   
}

.create input[type="submit"]:hover {
    opacity: 0.75;
}

/*to do list area where it is saved after creating it
can be modified, deleted and marked as done*/
.todo-list .list{
	display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

.todo-list .todo-item{
	border: 3px solid var(--dark);
	box-shadow: var(--shadow);
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

.todo-item label{
	cursor: pointer;
}